/* unità di misura */
p {font-size:30px} /* esiste pt */
p {font-size: 1em;} /* proporzionale rispetto all'elemento parent */
p {font-size: 1.1rem;} /* proporzionale rispetto alla root */
div {/*width: 300px;*/ width: 50%; margin-left: 25%;} /* % è proporzionale all'elemento parent */
/* vw viewport width -> proporzionale alla larghezza del device -> 100vw largo come tutta la viewport del device
   vh viewport height -> proprzionale all'altezza del device -> 50vh alto come metà della viewport del device */
/*
p {font-size:90%}     -> 16px -> p 14.4   
p {font-size:0.9em}   -> div è 16px -> p 14.4  
p {font-size:0.9rem}  -> body è 16px -> p 14.4 
p {font-size:0.9vw}   -> viewport 1400 (0.9% di 1400)    
*/

/* colori */
article p {color:blueviolet} /* keyword */
article p {color:#ff0000} /* esadecimale r g b */
article p {color:#f00} /* esadecimale sintetico (solo se tutte le tre coppie hanno gli stessi valori */
article p {color:#0f0}
article p {color:#00f}
article p {color:rgb(0, 0, 255)} /* rgb */
article p {color:rgb(0, 0, 255, 0.5)} /* rgb + opacità -> valori rgb + 4ò valore alpha (opacità) valori da 0 a 1 */

/* font */
section p {font-family:'Times New Roman', Times, serif}
section p {font-family: 'Roboto', sans-serif;}

/* formattazione di testi */
#secondo {
    font-size: 1.1em; /* possiamo usare anche rem meglio che px */
    font-style: italic ; /* corsivo -> normal */
    font-weight: bold; /* grassetto -> normal */
    line-height: 1.5 /* interlinea valori da 0 in su */;
}
div p {
    color:#00f;
    text-align: center; /* left (default), right, justify */
    text-indent: 2em; /* indentatura cioè rientro della prima linea */
    text-transform: uppercase; /* tutto maiuscolo, valore di default lowercase */
}
/* aggiungere ombre */
div h1 {
    text-shadow:4px 4px 8px #0f0;
    /*
    1ò valore scostamento orizzontale
    2ò valore scostamento verticale
    3ò valore raggio della sfocatura
    4ò valore spread ombra
    5ò valore colore
    https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_text-shadow
    */
}